@charset "UTF-8";
.main-template-header{
  display: flex;
  margin-bottom: 50px;
}
.login-search-box{
  display: flex;
  position: absolute;
  right: 0px;
}

.menu-template-bar{
  margin: 10px;
  margin-top: 5px;
}

.main-template-logo{
  position: relative;
  left: 50px;
}

.user-btn{
  margin-right: 20px;
}

.input-search{
  position: relative;
  margin: 5px;
  right: -20px;
  padding: 10px;
  width: 230px;
}
.fa-search{
  
  padding: 4.7px;
  font-size: 25px;
}
.btn{
  position: relative;
  top: 5px;
  right: 38px;
}
.search-btn{
  border: 1px solid rgba(0, 0, 0,0.3);
}