@charset "UTF-8";

body {
	background: white;
}
html {
  box-sizing: border-box;
}

.nav-category{
  position: relative;
}

.form-inline{
	display: flex;
	justify-content: space-between;
	
}

img {
	width: 183.333px;
	height: 330px;
}

.rankBadge {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.77);
	color: rgb(255, 255, 255);
	font-weight: 800;
	text-align: center;
	border-radius: 4px;
	position: absolute;
	z-index: 2;
}

.info {
	position: absolute;
	top: 100%;
	width: 200px;
	font-size: 15px;
	background-color: #3e3b3b;
}


.list afterInsert: hover{
	filter: blur(10px);
	-webkit-filter: blur(10px);
	transition: all 4s;
}


.main-wrapper{
	width: 80%;
	height: 40%;
	margin: 100px auto;
  
}

.info {
	position: absolute;
	top: 100%;
	width: 200px;
	color: #141414;
	font-size: 15px;
}

.main-movieList{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 50px;
}

.list {
	width: 183.333px;
  margin: 20px;
  height: 300px;
  background-color: red;
  border: 1px solid black;
  border-radius: 2rem;
}