.main {
	position: relative;
	margin: 1px 50px 1px 120px;
	width: 1300px;
}

.swiper-wrapper {
	height: 260px !important;
}

.swiper-container {
	width: 1200px;
	height: 330px;
	position: absolute;
}

.rankBadge {
	width: 40px;
	height: 40px;
	margin: 0px 152px 216px 0px;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.77);
	color: rgb(255, 255, 255);
	font-weight: 800;
	text-align: center;
	border-radius: 4px;
}

.swiper-slide {
	background: lightgray;
	border-radius: 10px;
	overflow: hidden;
}

.info {
	position: absolute;
	top: 100%;
	width: 200px;
	color: #141414;
	font-size: 15px;
}

.swiper-slide:hover .info {
	background: #4b4262;
	padding-left: 10px;
	color: white;
	top: 66%; /* 숫자 높을수록 텍스트는 낮게 올라옴*/
	transition: all 2s;
}

.swiper-button-next, .swiper-button-prev {
	color: #000 !important;
	top: 60% !important;
}