@charset "UTF-8";
	.signupPage_top_logo {
		text-align: center;
	}
	.top_logo{
		width: 7%;
	}
	
	.wrap {
		width: 100%;
		text-align: center;
		margin: auto;
	}
	
	.main {
		font-size:20px;
		text-align: center;
	}
	
	.pa_top_font{
		font-weight: bold;
	}
	
	.pa_mid{
		background: #eee;
		border-radius: 10px;
		display: inline-block;
	}
	
	.pa_mid_font {
		font-size: 80%;
	}
	
	
	.pa_bot {
		display: block;
		margin-top: 20px;
	}
	
	.table {
		border-radius: 10px;
		background: #eee;
		display: inline-block;
		font-size: 80%;
	}
	
	
	.tr {
		display: inline-block;
		margin: 10px;
	}
	
	.tr > .td:nth-of-type(1) {
		border-bottom: 1px solid #ccc;
	}
	
	.pa_btns{
		display: inline-block;
		margin-top: 20px;
	}
	
	.pa_btn_no, .pa_btn_yes {
		width: 120px;
		height: 50px;
		font-weight: bold;
	}
	
	.pa_btn_no {
		border: none;
		border-radius: 20px;
		background: #ccc;
	}
	
	.pa_btn_yes {
		border: none;
		border-radius: 20px;
		color: white;
		background: #abc;
	}
	
	<!-- 부트스트랩 btn 커스터마이징 -->
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #eee;
}
.btn-info:hover,
.btn-info:focus {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
.btn-info:active,
.btn-info:visited,
.btn-info:active:focus,
.btn-info:active:hover {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
