@charset "UTF-8";

.txt{
	color: #ddd;
}

body {
	background: #141414;
}
	
	.signupPage_top_logo {
		text-align: center;
	}
	.top_logo{
		width: 5%;
	}
	
	.top_text {
		font-size: 20px;
		font-weight: bold;
	}	
	
	.wrap {
		width: 100%;
		text-align: center;
	}
	
	#main-wrap{
		margin : auto;
		width : 600px;
		border : 2px solid gray;
		padding : 20px;
	
	}
	.main {
		display: inline-block;
		margin: auto;
		font-size:25px;
		text-align: left;
		font-weight: 600;
	}
	
	.label_text{
		margin-top : 10px;
	}
	
	
	input:focus {
		outline:none;
		border-bottom: 2px solid black;
	}
	
	.inp_txt {
		width: 443px;
		height: 50px;
		border: 0px;
		border-bottom: 2px solid #ddd;
		margin: 0px;
		font-size: 16px;
		padding: 0px 0px 0px 10px;
	}
	

	.inp_btn,
	.inp_btn_bot {
		width: 120px;
		height: 40px;
		font-weight: bold;
		background: #ec7114;
		border: none;
		border-radius: 15px;
	}
	
	.inp_btn_bot {
		margin-top: 30px;
	}
	
	.normal{
		font-size: 13px;
		color: gray;
	}
	
	.possible{
			font-size: 13px;
	
		color: green;
	}
	
	.impossible{
			font-size: 13px;
	
		color: red;
	}