@charset "UTF-8";

	.wrap {
		width: 100%;
<<<<<<< HEAD
        height: 800px;
=======
        height: 100%;
        
        padding: 20px;
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
	}
    .main_head {
        width: 90%;
        height: 30%;
<<<<<<< HEAD
        margin: auto;
        position:absolute;
        top:-50px;
=======
        
        margin: auto;
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    h3 {
        position: absolute;
        top:250px;
        left:460px;
<<<<<<< HEAD
=======
        
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    p {
        position: absolute;
        top: 245px;
        left: 610px;
        font-size: 40px;
        font-weight:bold;
    }
    .main_body {
        width: 90%;
        height: 70%;
        position: absolute;
<<<<<<< HEAD
        top: 270px;
        left: 120px;
        margin: 0px auto;
=======
        top: 320px;
        left: 120px;
        margin: 0px auto;
        
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    .box1 {
        width: 60%;
        height: 620px;
        border: 2px solid;
<<<<<<< HEAD
        margin: 0px auto;
=======
        
        margin: 0px auto;
        
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    .btn {
        width:100px;
        height: 44px;
        position: absolute;
<<<<<<< HEAD
        bottom: 40px;
=======
        bottom: 80px;
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
        right: 370px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 2.5em;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: rgb(52, 152, 219);
    }
    .box2 {
        width: 100%;
        height: 200px;
<<<<<<< HEAD
=======
        
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    .box3{
        width: 100%;
        height: 400px;
<<<<<<< HEAD
        margin: 0px auto;
=======
        
        margin: 0px auto;
        
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    }
    select {
        width: 175px;
		height: 50px;
        margin: 15px 0px 0px 25px;
    }
    .title {
        width: 400px; 
        height: 50px;
        margin: 0px 0px 0px 25px;   
    }
    .write {
        width:95%;
        height: 391px;
        margin: 15px 0px 0px 25px;
    }
    
    .box4{
        width:200px;
        height: 100px;
        position: absolute;
        right: 335px;
        top:20px;
    }
    #pw{
        width: 130px;
        height: 30px;
        position: absolute;
        top: 60px;
        right: 35px;
    }
	
    .secret2:active > .pw {
        visibility: visible;
    }
    
    .display-none {
    	display: none;
    }
<<<<<<< HEAD
=======
    
>>>>>>> 33b0e292c67661c4d26190fe9530bad9e9aa8e5f
    .display-block {
    	display: block;
    }
    #secret-btn {
        width:165px;
        height: 25px;
        display: inline-block;
        position: absolute;
        top: 10px; 
        text-align: center;
    }
    #secret {
        width:25px;
        height: 25px;
        position: absolute;
        top: 6px;
        right: 60px;
    }
    #secret:checked ~ * .expandable {
        visibility: visible;
    }
    #expand-toggle:checked ~ #expand-btn {
        background-color: #ccc;
    }
    
    