@charset "UTF-8";

/* header */
html {
	scroll-behavior: smooth;
}

<!-- 부트스트랩 btn 커스터마이징 -->
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #eee;
}
.btn-info:hover,
.btn-info:focus {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
.btn-info:active,
.btn-info:visited,
.btn-info:active:focus,
.btn-info:active:hover {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
    
    
    
.main-template-header {
	display: flex;
	padding: 0px 10px 0px 10px;
}
/* 
.fadeInDown{
	animation-name: fadeInDown;
}

.animated{
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
}
 */
.top-wrap {
	padding: 5px;
}

.main-header-link-box {
	line-height: 60px;
	width: 500px;
	padding-left: 30px;
}

.ranking-link, .recommend-link, .faq-link, .category-link {
	position: relative;
	display: inline-block;
	width: 86px;
}

.ranking-link-a, .recommend-link-a, .faq-link-a, .category-link-a {
	padding: 8%;
	text-decoration: none;
	color: black;
}

.ranking-link-a {
	padding-left: 0px;
}

.login-search-box {
	display: flex;
	position: absolute;
	right: 0px;
	margin-right: 20px;
	align-items: center;
}

.main-template-logo {
	position: relative;
}

<!-- 아코디언 -->

.btn_toggle{
	padding:0;
	border: none;
	outline:0;
	float: right;
}

.accordion_area .btn_toggle{
	display: block;
	right: 50px;
	box-sizing:border-box;
}
.accordion_area .btn_toggle::after{
	display:inline;
}
.accordion_area .content_area{
	display:none;
	padding:10px;
	background:#f4f4ff;
}
.accordion_area .content_area::after{
	display:inlnie;
}
.accordion_area .content_area.act{
	display:block
}

<!-- 아코디언 끝 -->


.user-btn {
	margin-right: 20px;
	top: 10px;
}

.input-search {
	position: relative;
	margin: 5px;
	right: -20px;
	padding: 10px;
	width: 250px;
}

.fa-search {
	padding: 7.5px;
	font-size: 25px;
}

.btn-a {
	position: relative;
	right: 38px;
	top: 4px
}

.search-btn {
	background: none;
	border: none;
}

/* footer */
.footer {
	background: #4b4262;
	width: 100%;
	height: 160px;
	margin-top: 50px;
	overflow: hidden;
}

.partners {
	/* border: 2px solid black; */
	margin: 30px 0px 30px 380px;
	color: #e6e6e6;
	position: relative;
}

.textBox {
	margin-left: 140px;
}

.footerLogo {
	position: absolute;
	margin-top: 15px;
}

.partners_info {
	display: inline-block;
	font-size: 12px;
	margin: 15px 5px 5px 0px;
}

.title {
	font-size: 18px;
}

.partners_info>div:nth-of-type(1) {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}