@charset "UTF-8";

* {
	text-decoration: none;
}

/* header */
html {
	scroll-behavior: smooth;
}

.main-template-header {
	display: flex;
	
}
/* 
.fadeInDown{
	animation-name: fadeInDown;
}

.animated{
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
}
 */
.top-wrap {
	width: 100%;
	padding: 5px 30px;
	margin-bot: 20px;
	display: inline-block;
	position: fixed;
	background-color: #141414;
	top: 0px;
	z-index: 99;
}

.main-header-link-box {
	line-height: 84px;
	width: 500px;
	padding-left: 30px;
}

.main-header-link-box a {
	color: #fff;
}

.ranking-link, .recommend-link, .faq-link, .category-link {
	position: relative;
	display: inline-block;
	width: 86px;
}

.ranking-link-a, .recommend-link-a, .faq-link-a, .category-link-a {
	padding: 8%;
	text-decoration: none;
	color: black;
}

.ranking-link-a {
	padding-left: 0px;
}

.login-search-box {
	display: flex;
	position: absolute;
	right: 0px;
	margin-right: 20px;
/* 	align-items: center; */
	height: 60px;
/* 	line-height: 84px; */
}

.main-template-logo {
/* 	position: relative; */
	display: block;
	width: 100px;
}

.user-btn {
	margin-right: 20px;
	margin-top: 12px;
}

.input-search {
	position: relative;
	margin: 5px;
	right: -20px;
	padding: 10px;
	width: 250px;
	height: 70px;
	border: 2px solid #ec7114;
	color: #fff;
	font-weight: bold;
	background: #141414; 
	font-size: 16px;
	border-radius: 15px;
	outline: none;
}

.input-search:hover,
.input-search:action,
.input-search:focus {
	outline: none;
	background: #141414; 
}
.txt {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.txt:focus,
.txt:hover {
	text-decoration: none;
}

.fa-search {
	background: none;
	padding: 7.5px;
	font-size: 25px;
}

.fa-search,
.top_user_circle{
	color: #ec7114;
}

.btn-a {
	position: relative;
	right: 38px;
	top: 4px
}

.search-form {
	width: 316px;
	margin-left: -30px;
}

.search-btn {
	background: none;
	border: none;
}

/* footer */
.footer {
	width: 100%;
	height: 160px;
	margin-top: 100px;
}

.textBox {
	color: #e6e6e6;
	text-align: left;
	display: inline-block;
}

.footer_wrap{
	display: flex;
	width: 900px;
	margin: auto;
}

.footerLogo {
	width: 170px;
	text-align: left;
	display: block;
	margin-right: 0px;
}

.partners_info {
	display: inline-block;
	font-size: 12px;
	margin: 15px 5px 5px 0px;
	color: #bbb;
}

.title {
	font-size: 18px;
}

.partners_info>div:nth-of-type(1) {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

.logo {
	display: inline-block;
	width: 170px;
	height: 140px;
}

img{
	position: relative;
}