@charset "UTF-8";

/* header */

.main-template-header{
  display: flex;
  margin-bottom: 50px;
}

.main-header-link-box{
  position: relative;
  left: 5%;
  width: 20%;
  line-height: 60px;
  text-align: center;
  
}

.ranking-link,
.recommend-link{
  position: relative;
}

.ranking-link-a,
.recommend-link-a{
  padding: 8%;
}

.login-search-box{
  display: flex;
  position: absolute;
  right: 0px;
}


.main-template-logo{
  position: relative;
  left: 50px;
}

.user-btn{
  margin-right: 20px;
}

.input-search{
  position: relative;
  margin: 5px;
  right: -20px;
  padding: 10px;
  width: 230px;
}
.fa-search{
  
  padding: 4.7px;
  font-size: 25px;
}
.btn{
  position: relative;
  top: 5px;
  right: 38px;
}
.search-btn{
  border: 1px solid rgba(0, 0, 0,0.3);
}

/* footer */

.footer{
	position: relative; 
	bottom: 0px;
}

.partners {
	text-align: center;
	margin: 100px 200px 100px 200px;
	display: flex;
}
.partners_info {
	text-align: left;
	margin-right: 40px;
	font-size: 26px;
	color: gray;
}

.partners_info > div:nth-of-type(2), .partners_info > div:nth-of-type(3) {
	font-weight: bold;
	margin-top: 16px;
}
