.wrap {
	display: grid;
}

.main {
	position: relative;
	margin: 1px 50px 1px 50px;
}

.swiper-container {
	width: 1200px;
	height: 330px;
	position: relative;
}

.rankBadge {
	width: 30px;
	height: 30px;
	margin: 0px 152px 216px 0px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.77);
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-align: center;
	border-radius: 4px;
	position: absolute;
}

.swiper-slide {
	position: relative;
	background: lightgray;
	border-radius: 10px;
	height: 250px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.info {
	position: absolute;
	top: 100%;
	width: 200px;
	color: #141414;
	text-align: left;
	font-size: 15px;
}

.swiper-slide:hover .info {
	background: #4b4262;
	padding-left: 10px;
	color: white;
	top: 55%;
	transition: all 2s;
}

.swiper-button-next, .swiper-button-prev {
	background-color: none;
	padding: 30px;
	color: #000 !important;
	fill: black !important;
	stroke: black !important;
}