.swiper-container {
	width: 1300px;
	height: 300px;
	margin-bottom: 30px;
}

.rankBadge {
	width: 40px;
	height: 40px;
	margin: 0px 152px 216px 0px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.77);
	color: rgb(255, 255, 255);
	font-weight: 800;
	text-align: center;
	border-radius: 4px;
	position: absolute;
}

.swiper-slide {
	/* position: relative; */
	background: lightgray;
	border-radius: 10px;
	height: 250px;
	overflow: hidden;
}

.info {
	position: absolute;
	top: 100%;
	width: 200px;
	color: #141414;
	font-size: 15px;
	color: #141414;
}

.swiper-slide:hover .info {
	background: #4b4262;
	padding-left: 10px;
	color: white;
	top: 52%;
	transition: all 2s;
}

.swiper-button-next, .swiper-button-prev {
	background-color: none;
	color: #000 !important;
}