@charset "UTF-8";
     #wrap{
            width: 1300px;
            height: 1000px;
            margin: auto;
            border : 1px solid black;
        }
     
        #header{
            position: relative;
            top: 100px;
            font-weight: bold;
            font-size: 45px;
            padding-left: 5px;
        }
        
        #main{
        	width : 1300px;
        	height: 900px;
        	position :relative;
        }
        
        .topmenu{
			position: absolute;
			left: 210px;
			top : -5px;
		}
		
		.display{
		 	display : none;
		}
		
		#random-frame{
			position: absolute;
			top : 150px;
			left : 400px;
		}
		
		#feel-frame{
			position : absolute;
			top : 200px;
			left : 200px;
		
		}
		
	  #situ-frame{
         	position : absolute;
            top : 250px;
			left : 225px;
        }
        
        #tag-frame{
        	width : 900px;
        	display: flex;
            flex-wrap: wrap;
        }
        
		#movie-box{
			width : 500px;
			height: 600px;
			margin : auto;
			position : relative;
			top : 10px;
			border : 2px solid black;
		}
        
        #emoticon-frame{
        	postion : absolute;
        	right: 0px;
            width: 950px;
            display: flex;
            flex-wrap: wrap;
        }
        
        
       .situation-box{
            margin: 20px;
            margin-left : 100px;
            border: 3px solid navy;
            border-radius: 40px;
            width: 150px;
            height: 60px;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            line-height: 60px;
            color : navy;
        }
        
        img{
        	width : 150px;
        	height : 150px;
        	margin : 20px;
        	margin-top: 25px;	
        }
       
       input{
       		border-radius: 10px;
       		background-color: light-gray;
       		border : 2px solid light-gray;
       		height: 50px;
			width : 130px;
       		font-size: 20px;
       		font-weight: bold;
       		position : absolute;
       		left : 550px;
       		bottom : 40px;
       
       }
  
		button{
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			background-color: white;
			border : 2px solid gray;
			height: 40px;
			width : 130px;
		}
	
		#b1{
			border-radius: 10px 0px 0px 10px;
			margin-right: -12px;
	
			}
	
		#b3{
			border-radius: 0px 10px 10px 0px;
			margin-left: -12px;
		}

		button:focus {
  			background-color:gray;
  			color:white;
		}
	
	
		input:hover{
			background-color:gray;
  			color:white;
		}
        .active:active {
  				backgronud: gray;
			}
		.focus:focus {
 		 color: red;
		}
		:target {
 			 color: red;
		}
		