@charset "UTF-8";

.wrap {
	display: grid;
	place-items: center;
	height: 100%;
}

.main {
	margin: auto;
	width: 800px;
}

.table {
	text-align: center;
}

.main_bot {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	height: 400px;
}

.request_list_1st_tr {
	background: #ddd;
}

.request_list_td_resp {
	text-align: left;
}

.request_list_tr>.td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}