<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.koreait.movie.dao.Movie_info_dao">
	
	<select id="mywrite_list" resultType="com.koreait.moive.dto.CommentDto">
		SELECT movie_no, comment_content, comment_date
		  FROM comment
	</select>
	
	
	
	
</mapper>