<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.koreait.movie.dao.RequestDao">
	
	 <insert id="write" parameterType="com.koreait.movie.dto.FAQDto">
   		 INSERT INTO 
   		 	FAQ (faq_select, faq_title, faq_secret, faq_content, user_no)
   		 VALUES (#faq_selecta}, #{faq_title}, #{faq_secret,} #{faq_content}, #{user_no})
    </insert>
	
	<!-- 
	<insert id="requestWrite1">
		INSERT INTO
			FAQ (FAQ_NO, FAQ_SELECT, FAQ_TITLE, FAQ_CONTENT, USER_NO, FAQ_DATE)
			VALUES (FAQ_SEQ.NEXTVAL, #{faq_select}, #{faq_title}, #{faq_content}, #{user_no}, SYSDATE)
	</insert>
	
	
	
	<insert id="requestWrite2">
		INSERT INTO
			FAQ (FAQ_NO, FAQ_SELECT, FAQ_TITLE, FAQ_CONTENT, FAQ_SECRET, FAQ_PW, USER_NO, FAQ_DATE)
			VALUES (FAQ_SEQ.NEXTVAL, #{faq_select}, #{faq_title}, #{faq_content}, #{faq_secret}, #{faq_pw}, #{user_no},  SYSDATE)
	</insert>
	 -->
	
	
	<select id="requestList" resultType="com.koreait.movie.dto.FAQDto">
		SELECT B.*
		  FROM (SELECT ROWNUM AS RN, A.*
		          FROM (SELECT *
		                  FROM FAQ
		              ORDER BY USER_NO DESC) A ) B
		 WHERE B.RN BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="userNickname" parameterType="com.koreait.movie.dto.FAQDto">
		SELECT *
			FROM FAQ
		WHERE  user_no = #{user_no}
	</select>
	
	<select id="totalRecord" resultType="int">
		SELECT COUNT(*)
		  FROM FAQ
	</select>
	
	<select id="requestView" parameterType="int" resultType="com.koreait.movie.dto.FAQDto">
		SELECT *
		  FROM FAQ
		 WHERE user_NO = #{user_no}
	</select>
	
	
	
</mapper>