<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.koreait.movie.dao.RequestDao">
	
	<insert id="requestWrite" parameterType="com.koreait.movie.dto.FAQDto">
		INSERT INTO
			FAQ (FAQ_NO, FAQ_TITLE, FAQ_SELECT, USER_NO, FAQ_CONTENT, FAQ_PW, FAQ_DATE)
			VALUES (FAQ_SEQ.NEXTVAL, 
				#{faq_no}, #{faq_title}, #{faq_select}, #{user_no}, #{faq_content}, #{faq_pw}, SYSDATE
				)
	</insert>
	
	
	<select id="requestList" resultType="com.koreait.movie.dto.FAQDto">
		SELECT B.*
		  FROM (SELECT ROWNUM AS RN, A.*
		          FROM (SELECT *
		                  FROM FAQ
		              ORDER BY USER_NO DESC) A ) B
		 WHERE B.RN BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="userNickname" parameterType="com.koreait.movie.dto.FAQDto">
		SELECT *
			FROM FAQ
		WHERE  user_no = #{user_no}
	</select>
	
	<select id="totalRecord" resultType="int">
		SELECT COUNT(*)
		  FROM FAQ
	</select>
	
	<select id="requestView" parameterType="int" resultType="com.koreait.movie.dto.FAQDto">
		SELECT *
		  FROM FAQ
		 WHERE user_NO = #{user_no}
	</select>
	
	
	
</mapper>