<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.koreait.movie.dao.Signup_signin_dao">

	<select id="signIdCheck" parameterType="String" resultType="int">
		select user_no
		from users
		where user_id = #{id}
	</select>
	
	<select id="signNickCheck" parameterType="String" resultType="int">
		select user_no
		from users
		where user_nickname = #{nick}
	</select>
	
	<select id="signEmailCheck" parameterType="String" resultType="int">
		select user_no
		from users
		where user_email = #{email}
	</select>
	
	<insert id="signUserInsert" parameterType="com.koreait.movie.dto.UserDto">
		insert 
		into users
		values(users_seq.nextval,
		 	#{user_id},
		  	#{user_pw},
	  		#{user_nickname},
		   	#{user_name},
		    #{user_email},
		    #{user_phone},
		      sysdate,
		       'none')
	</insert>
	

	<select id="loginUser" parameterType="com.koreait.movie.dto.UserDto" resultType="com.koreait.movie.dto.UserDto">
		select *
		  from users
		 where user_id=#{user_id} and
		  	   user_pw=#{user_pw}

	</select>
	
	<!-- 회원가입시 영화 선택 디폴트 리스트 -->
	<select id="signMovieDefaultList" resultType="com.koreait.movie.dto.MovieDto">
		select *
		from movie
		where movie_no between 1 and 18

	</select>
	
	<select id="userSelectMovieList" parameterType="Map" resultType="int">
		select distinct genre_no
		from movie_genre
		where movie_no in 
		<foreach collection="movieList" item="movie_no" open="(" separator="," close=")">
			#{movie_no}
		</foreach>
	</select>
	
</mapper>