@charset "UTF-8";

@charset "UTF-8";

	a {
		text-decoration: none;
		outline: none;
		color: #141414;
	}
	a:focus,
	a:active,
	a:hover {
		text-decoration: none;
		outline: none;
		color: #ec7114;
	}
	
	.qna_txt{
		color: #141414;
		font-size: 24px;
		margin-right: 10px;
		font-weight: bold;
	}
	
	.qna_txt:action,
	.qna_txt:focus {
		color: #ec7114;
	}

body {
	background: white;
	margin-top: 100px;
}
.wrap {
	display: grid;
	place-items: center;
	height: 400px;
    margin-top: 130px;

}

.main {
	margin: auto;
	width: 800px;
}

.main_top_font {
	display: flex;
	font-size: 20px;
	padding-left: 10px;
}

.qna_list {
	margin-right: 20px;
}

.table > thead > tr {
	width: 768px;
	border-radius: 10px;
}
.table > tfoot > tr > td {
	width: 768px;
}

.main_bot {
	border: 1px solid #ec7114;
	border-radius: 10px;
	margin-bottom: auto;
}

.table {
	text-align: center;
}

.qna_list_1st_tr {
	background: #ddd;
}

	/* MODAL*/

.modal_dialog {
	width: 400px;
	height: 300px;
	margin-top: 300px;
	margin-left: 750px;
	border: 1px solid;
	border-radius: 25px;
	background: white;
}

.modal_content {
	height: 100%;
}

.modal_title {
	font-weight: bold;
	text-align: center;
	background: #ec7114;
}

#inpPw {
	margin-top: 75px;
	margin-left: 110px;
}

.modal_footer{
	padding: 0px 15px;
}

.modal_close {
	width: 80px;
	height: 40px;
	border-radius: 15px;
	background-color: #ec7114;
	margin-top: 50px;
	margin-left: 100px;
	outline: none;
	font-weight: bold;
	border: none;
}

.go_btn {
	width: 80px;
	height: 40px;
	border-radius: 15px;
	background-color: #ec7114;
	margin-top: 50px;
	margin-left: 25px;
	outline: none;
	font-weight: bold;
	border: none;
}
