@charset "UTF-8";

@charset "UTF-8";

body {
	background: #141414;
	margin-top: 100px;
}
.wrap {
	display: grid;
	place-items: center;
	height: 400px;
    margin-top: 130px;

}

.main {
	margin: auto;
	width: 800px;
}

.main_top_font {
	display: flex;
	font-size: 20px;
	padding-left: 10px;
}

.qna_list {
	margin-right: 20px;
	position: absolute;
	top: 50%;
}

.main_bot {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
}

.table {
	text-align: center;
}

.qna_list_1st_tr {
	background: #ddd;
}

	/* MODAL*/

.modal_dialog {
	width: 800px;
	height: 460px;
}

.modal_content {
	height: 100%;
}

.modal_title {
	font-weight: bold;
}

.modal_footer{
	padding: 0px 15px;
}

.modal_close {
	width: 80px;
	height: 40px;
	border-radius: 15px;
	background-color: #ec7114;
	margin-top: 25px;
	outline: none;
	font-weight: bold;
	border: none;
}
