@charset "UTF-8";

.wrap {
	display: grid;
	place-items: center;
	height: 100%;
	margin-top: 200px;
}

.main {
	margin: auto;
	width: 800px;
}

.table_user_content {
	width: 775px;
	heigth: 200px;
	
}

.table_reply_content {
	width: 770px;
}

.main_body {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	height: 400px;
	width: 100%;
	background:white;
}

.user_content_tr {
	background: #ddd;
	width: 770px;
	text-align: center;
}
.content {
	width: 600px;
}

.user_content_tr_box {
	width: 770px;
}

.user_content {
	width: 600px;
	height: 150px;
}

.reply_content_tr {
	background: #ddd;
	width: 770px;
	text-align: center;
}

.reply_content {
	width: 600px;
}

.user_content_tr>.td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 400px;
}
.reply_content_tr>.td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 400px;
}

.qna_reply_btn {
	  width:100px;
	  height: 44px;
	  position: absolute;
	  left: 36%;
	  top: 55%;
	  font-size: 16px;
	  background-color: #ec7114;
	  text-align: center;
	  line-height: 2.5em;
	  border-radius : 4px;
	  background-color: #ec7114;
}
.list_btn { 
	  width:100px;
	  height: 44px;
	  position: absolute;
	  right: 32%;
	  top: 55%;
	  width:100px;
	  height: 44px;
	  font-size: 16px;
	  background-color: #ec7114;
	  text-align: center;
	  line-height: 2.5em;
	  border-radius : 4px;
	  background-color: #ec7114;
}

.delete_btn { 
	  width:100px;
	  height: 44px;
	  position: absolute;
	  left: 30%;
	  top: 55%;
	  font-size: 16px;
	  color: rgb(255, 255, 255);
	  text-align: center;
	  line-height: 2.5em;
	  border-radius : 4px;
	  background-color: #ec7114;
}

.content {
	width: 600px;
}
.user_write_tr > td {
	width: 150px;
}
.user_content {
	width: 600px;
}
