@charset "UTF-8";

.wrap {
	display: grid;
	place-items: center;
	height: 100%;
	margin-top: 200px;
}

.main {
	margin: auto;
	width: 800px;
}

.table_user_write {
	text-align: center;
	width: 775px;
}

.table_reply_content {
	text-align: center;
	width: 770px;
}

.main_body {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	height: 400px;
	width: 100%;
	background:white;
}

.user_write_tr {
	margin: auto;
	background: #ddd;
	text-align: center;
	width: 770px;
}

.reply_content_tr {
	margin: auto;
	background: #ddd;
	width: 770px;
}

.user_write_td_resp {
	text-align: center;
	width: 400px;
}

.user_write_tr>.td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 400px;
	margin: auto;
}
.reply_content_tr>.td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 400px;
	margin: auto;
}

.qna_reply_btn {
	  width:100px;
	  height: 44px;
	  position: absolute;
	  left: 36%;
	  top: 55%;
	  font-size: 16px;
	  color: rgb(255, 255, 255);
	  text-align: center;
	  line-height: 2.5em;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  border-bottom-left-radius: 4px;
	  background-color: rgb(52, 152, 219);
}
.list_btn { 
	  width:100px;
	  height: 44px;
	  position: absolute;
	  right: 32%;
	  top: 55%;
	  width:100px;
	  height: 44px;
	  font-size: 16px;
	  color: rgb(255, 255, 255);
	  text-align: center;
	  line-height: 2.5em;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  border-bottom-left-radius: 4px;
	  background-color: rgb(52, 152, 219);
}

.delete_btn { 
	  width:100px;
	  height: 44px;
	  position: absolute;
	  left: 30%;
	  top: 55%;
	  font-size: 16px;
	  color: rgb(255, 255, 255);
	  text-align: center;
	  line-height: 2.5em;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  border-bottom-left-radius: 4px;
	  background-color: rgb(52, 152, 219);
}
