@charset "UTF-8";
	
	a {
		text-decoration: none;
		outline: none;
		color: #141414;
	}
	a:focus,
	a:active,
	a:hover {
		text-decoration: none;
		outline: none;
		color: #ec7114;
	}
	
	.qna_txt{
		color: #141414;
		font-size: 24px;
		margin-right: 10px;
		font-weight: bold;
	}
	
	body {
		background: white;
	}

	.wrap {
		width: 100%;
        margin-top: 100px;
	}
	
	.main_wrap {
		width: 630px;
		margin: auto;
		text-align: center;
	}
    .main_head {
        width: 630px;
        margin-left: 10px;
        text-align: left;
    }
    
    p {
        font-size: 42px;
        font-weight:bold;
    }
    .main_body {
        width: 630px;
        margin: 0px auto;
    }
    .box1 {
        width: 630px;
        border: 2px solid #ec7114;
        border-radius: 15px;
        margin: 0px auto;
        padding: 10px;
    }
    .box2 {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    
    .box2_left {
    	width: 50%;
    	display: flex;
    	flex-flow: column;
    }
    
    .title {
        width: 300px; 
        height: 30px;
    }
    
    .box2_right {
    	width: 50%;
    	text-align: right;
    }
    .box3{
        width: 100%;
        height: 620px;
        margin: 0px auto;
    }
    .select {
        width: 100px;
        height: 30px;
        margin-bottom: 10px;
    }

    .content {
        width:100%;
        height: 95%;
        resize: none;
    }
    
    .secret2:active > .pw {
        visibility: visible;
    }
    
    .display-none {
    	display: none;
    }
    .display-block {
    	float: right;
    	display: block;
       	width: 150px;
        height: 30px;
    }
    #secret_btn {
        display: inline-block;
        text-align: right;
        font-size:20px;
        margin-bottom: 10px;
    }
    #secret {
/*         width:4%; */
/*         height: 4%; */
		    	
    }
    #secret:checked ~ * .expandable {
        visibility: visible;
    }
    #expand-toggle:checked ~ #expand-btn {
        background-color: #ccc;
    }
    
    .box5 {
       width:100%;
       height: 60px;
    }
    .send_btn {
        width:100px;
        height: 40px;
        font-size: 16px;
/*         color: rgb(255, 255, 255); */
        text-align: center;
        line-height: 2.5em;
        border-radius: 4px;
        background-color: #ec7114;
        outline: none;
        border: none;
        font-weight: bold;
        float: right;
      }
      
