@charset "UTF-8";

.wrap {
	display: grid;
	place-items: center;
	height: 100%;
}

.main {
	border: 2px solid purple;
	width: 330px;
	height: 430px;
	position: relative;
}

.box1 {
	border: 2px solid gray;
	background: gray;
	border-radius: 100% 100% 0% 0%;
	height: 30%;
}

.box2 {
	border: 2px solid blue;
}

.box3 {
	border: 2px solid orange;
	width: 65px;
	height: 65px;
	border-radius: 100%;
}

#user_icon {
	font-size: 50px;
	margin-left: 10%;
}


.box4 {
	border: 2px solid pink;
}

.box5 {
	border: 2px solid green;
}

.box6 {
	border: 2px solid red;
}