@charset "UTF-8";

        .big-box{
            border: 4px solid #ec7114;
            border-radius: 30px;
            width: 600px;
            height: 830px;
            margin: auto;
            position: relative;
            margin-top: 110px;
        	overflow: hidden;
        }
        
        .small-box{
	        padding: 10px;
        }
        
        label {
        	border: none;
        }
        
        .card_box {
        	display: flex;
        	flex-flow: wrap;
        	margin: 0px 10px;
        }
        
        #card-box1{
            width: 570px;
            height: 230px;
            margin-bottom: 10px;
            border-bottom: 2px solid #ec7114;
            position: relative;
            top: -10px;
            
        }
        
        #card-box2{
            width: 285px;
            height: 200px;
            padding-right: 15px;
            border-right: 2px solid #ec7114;
            text-align: center;
		    padding: 45px;
		    font-size: 30px;
		    cursor: pointer;
        }
        #card-box3{
        	width: 280px;
            height: 200px;
            text-align: center;
		    padding: 45px;
		    font-size: 30px;
   		    cursor: pointer;
		    
        }
        
        #alter{
            width: 40px;
            margin-top: 10px;
            float: right;
        }

        
        textarea{
        	border-color: white;
        }
        
       
		
		
.contentTextArea{ 
			width: 100%;
			height: 380px;
			resize: none;
		} 
		

		
	.textOutline{
		border: none;
		outline: none;
	} 
		

		
		.coverBox{
		    width: 100%;
		    height: 33%;
	        line-height: 250px;
   			text-align: center;
   			background-size: 100% 100%;
   			border-bottom: 4px solid #ec7114;
		}
		
		.inp_btn {
			background: #ec7114;
			outline: none;
			border: none;
			border-radius: 15px;
			font-weight: bold;
		}
		
		.inp_txt{
			border: none;
			outline: none;
			border-bottom: 1px solid #ddd;
			font-size: 18px;
			font-weight: bold;
		}

		.inp_txt:focus {
			border-bottom: 1px solid #ec7114;
		}
		
		.info_txt {
			font-size: 18px;
			font-weight: bold;
		}
		
		.info_box {
			
		}
		
		.update_btn{
			margin-top: 10px;
		}
		.profileBox {
			background: gray;
		    width: 130px;
		    height: 130px;
		    border-radius: 75px;
		    position: relative;
		    top: -70px;
		    left: 25px;
		    line-height: 130px;
   			text-align: center;
   			background-size: 130px 130px;
		}
		
		.none{
			display: none;
		}
		
		#addProfileBtn,
		#changeProfileBtn,
		#addCoverBtn,
		#changeCoverBtn{
			display: none;
		}
        .profileAddLabel,
        .profileChangeLabel,
        .coverAddLabel,
        .coverChangeLabel{
        	cursor: pointer;
        	width: 100%;
   			height: 100%;
        }
        
