@charset "UTF-8";

.main-wrapper-my-write{
  display: flex;
  margin:auto;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  width: 900px;
  height: 600px;
}

.section-left{
  border-right: 1px solid black;
  width: 380px;
  height: 540px;
}

.movie-name{
  width: 380px;
  height: 70px;
  padding: 20px;
}
.movie-name-span{
  font-size: 22px;
  font-weight: bold;
}

.movie-poster{
  padding: 20px 20px 0px 20px;
  width: 380px;
  height: 470px;
}

.movie-poster-img{
  width: 100%;
  height: 100%;
  background-color: gray;
}

.section-right{
  width: 100%;
  padding: 10px 20px 20px 20px;

}
.top-title-contents{
  font-size: 40px;
  font-weight: bold;
}

.top-contents{
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  margin: 10px 0px;
}
.writer,
.write-date{
  font-size: 16px;
}

.right-textarea{
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  height: 83%;
  width: 100%;
}

.right-footer-btn-box{
  text-align: center;
}

.right-footer-btn{
  
}

