@charset "UTF-8";
	
	body {
		background: white;
	}
	
	.big-box{
		border: 4px solid #ec7114;
		border-radius: 30px;
		width: 600px;
           height: 830px;
		
		margin: auto;
		margin-top: 110px;
		overflow: hidden;
	}
	
	#profile{
	      width : 100px;
	      height: 80px;
	}

	.tableBox{
		width: 490px;
		margin: auto;
		margin-bottom: 20px;
	}
	      
	.table {
		display: table;
		border-collapse: collapse;
		margin: auto;
	}
	
	.thead {
		display: table-header-group;
	}
	
	.thead_tr {
		display: flex;
		line-height: 30px;
	}
	
	.thead_tr > .th {
		height: 30px;
		padding: 0px 16px;
	}
	
	.tbody {
		display: table-row-group;
	}
	
	.tfoot {
		display: table-footer-group;
	}
	.td, .th {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;
	}
	
	.th {
		background: silver;
	}
	
	
	.paging {
		display: flex;
		text-align: center;
	}
	
	.paging div {
		width: 40px;
		height: 20px;
	}
	
	.paging .go-page:hover {
		cursor: pointer;
	}
	
	.paging .now-page a{
		color: lime;
	}
	
	.paging .disable a{
		color: silver;
		text-decoration: none;
	}
	
	.footer-btn-box {
	    width: 300px;
	    margin-left: 745px;
	    margin-bottom: 20px;
	    text-align: right;
	}
	.textOutline{
			border: none;
			outline: none;
		}
	
	.none{
		display: none;
	}
	
	.modal-dialog{
		width: 1200px
	}
