@charset "UTF-8";
.wrap {
	width: 80%;
	height: 40%;
	margin: auto;
}

.main-movieList, p {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding-left: 50px;
}

p {
	color: #292a32;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: -0.4px;
    line-height: 30px;
}

.list {
	width: 170px;
	margin: 15px;
	height: 220px;
	background-color: lightgray;
	border-radius: 1.5rem;
}