@charset "UTF-8";

body {
	background: #141414;
}
	.wrap {
		text-align: center;
		width: 100%;
	}
	
	.main {
		padding: 10px;
		width: 850px;
		margin: auto;
		display: block;
		background: white;
	}
	
/***** 스냅샷 *****/
.snap_background_left{
	width: 25%;
	height: 350px;
	background: linear-gradient(-90deg, black, gray);
	display: block;
}
.snap_background_right{
	width: 25%;
	height: 350px;
	background: linear-gradient(90deg, black, gray);
	display: block;

}

.snap{
	width: 50%;
	height: 350px;
	display: block;
}

.info_main_top {
	width: 100%;
	display: flex;
	position: relative;
}
	
/***** 포스터, 제목 *****/
.info_main_mid{
	margin: auto;
	width: 740px;
	height: 220px;
	margin-bottom: 15px;
	display: flex;
}

.info_main_mid_left{
	width: 300px;
	height: 220px;
}

.info_main_mid_mid{
	padding-left: 30px;
	width: 100%;
	height: 220px;
	text-align: left;
}


	.info_main_mid_right{
		position: relative;
	}


.info_main_mid_mid_title{
	font-weight: bold;
	font-size: 20px;
	display: table-cell;
	vertical-align: bottom;
}
.info_main_mid_mid_contents{
	margin-top: 20px;
	height: 100px;
}
.textdeco{
	border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}
.movie_info_opendate{
	display: inline-block;
	margin: 7px 0px;
}
.form-btn{
	width: 230px;
	padding: 12px 0px;
	
}
.info_main_mid_right{
	display: table-cell;
	vertical-align: bottom;
}
.movie_poster{
	background-color: gray;
	width: 190px;
	height: 220px;
	margin: auto;
}

/***** 정보 *****/

.info_main_bot{
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 15px;
	display: inline-block;
	padding: 0px 20px 20px 20px;
}

/***** 기본 정보 *****/
.info_main_bot_basic_info {
	padding: 20px 0px;
	text-align: left;
	border-bottom: 2px solid #bbb;	/* 구분선 */
}

/***** 출연/제작 *****/

.info_main_bot_staff {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 20px;
	border-bottom: 2px solid #bbb;	/* 구분선 */
}

.info_main_bot_staff_font {
	display: inline-block;
	margin-top: 20px;
	margin-right: 500px;
	height: 20px;
}

.bot_staff_profiles {
	margin-top: 20px;
	width: 50%;
	display: flex;
}

.bot_staff_profiles_img {
	text-align: left;
}

.staff_profile_img{
	background: black;
	width: 150px;
	height: 150px;
}

.bot_staff_profiles_txt{
	margin-left: 20px;
	width: 150px;
	height: 90px;
	padding-top: 60px;
	text-align: left;
	font-size: 20px;
}

/***** 코멘트 *****/
.info_main_bot_comment {
	border-bottom: 2px solid #bbb;	/* 구분선 */
	padding: 20px 0px 60px 0px;
	position: relative;
}

.info_main_bot_comment > input:last-of-type {
	position: absolute;
	right: 0px;
	bottom: 20px;
}

.info_main_bot_comment_top {
	display: flex;
	justify-content: space-between;
}

.info_main_bot_comment_bot {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.comment_bot_1th, .comment_bot_2nd, .comment_bot_3rd {
	width: 220px;
	height: 220px;
	background: #ddd;
	border-radius: 15px; 
	position: relative;
	padding: 10px;
}

.comment_main_top {
	display: flex;
	justify-content: space-between;
	
}

.comment_main_mid {
	padding: 10px 0px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin: 10px 0px;
}

.comment_main_mid_txt {
	resize: none;
	overflow: hidden;
	width: 200px;
	height: 100px;
	background: #ddd;
	border: none;
}

.comment_main_mid_txt:focus {
	outline: none;
}
.comment_main_bot {
	display: flex;
}
	
/***** 비슷한 영화 *****/
.info_main_bot_movies {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	line-height: 20px;
}

.main_bot_movies_poster {
	position: relative;
	background: #ddd;
	border-radius: 15px;
	width: 220px;
	height: 250px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 20px;
}

.main_bot_poster_info {
	padding: 10px;
	text-align: left;
	position: absolute;
	font-size: 15px;
	top: 100%;
	width: 220px;
}

.main_bot_movies_poster:hover .main_bot_poster_info {
	background: #4b4262;
	padding-left: 10px;
	color: white;
	transition: all 2s;
	border-radius: 15px;
	top: 77%;
}


.main_bot_movies_poster:nth-of-type(10), .main_bot_movies_poster:nth-of-type(11), .main_bot_movies_poster:nth-of-type(12) {
	margin-bottom: 0px;
}

:focus {
	outline: none;
}
	
	
#star-rating{
  margin-bottom: 10px;
}

.my-rating-contents{
  margin-top: 90px;
}	
	
<!-- 부트스트랩 btn 커스터마이징 -->
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #eee;
}
.btn-info:hover,
.btn-info:focus {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
.btn-info:active,
.btn-info:visited,
.btn-info:active:focus,
.btn-info:active:hover {
    border-color: #128496;
    background-color: #128496;
    color: #ccc;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	